@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


* {
  box-sizing: flex;
  font-family: 'Lato', sans-serif;

}

.body{
  display: flex;
  flex-direction: row;
  width: 100vw;
  
}
.main{
  margin-left:3vw;
  margin-right:5vw;
  width:87vw;
}
.overview{
  margin-top:5vh;
  margin-bottom: 0;
  left:50%;
  font-family:"Copperplate";
  text-align: center;
}
.overview-span{
  border-top: 2px solid black;
  width:80vw;
  border-radius: 13%;
  display: inline-block;
}

/* main container /* */
.main-container {
  grid-area: main;
  overflow-y: none;
  padding: 20px 20px;
  color: rgba(255, 255, 255, 0.95);
}

.main-title {
  display: flex;
  justify-content: space-between;
  align-self: center;
}

.main-cards {
  gap: 20px;
  margin: 15px 0;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 8px;
  border-radius: 5px;
  margin-bottom: 40px;
}

.card-head{
  border:3px solid gainsboro;
  border-radius: 45%;
  left:50%;
  margin-top:-60px;
  padding: 5px;
  font-size: x-large;
  align-self: center;
  background-color: bisque;
}


.card-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-inner > .card_icon {
  font-size: 25px;
  margin-bottom: -70px;
}

.charts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 60px;
  height: 300px;
}

.formwrapper{
  margin-top:4vw;
  padding:20px;
  border-top: 3px solid green;
  border-bottom: 3px solid green;
  border-radius: 30px;
}
.formheader{
  text-align: center;
  font-family:'papyrus';
  font-weight: 100;
}
.submitbtn{
  margin-left:50vh;
  width:40vw;
  align-items: center;
  justify-content: center;
}
.membersummary{
  background-color: honeydew;
  border-right: 2px solid aqua;
  border-left: 2px solid aqua;
  border-radius: 40px;
  padding: 15px;
  margin: 20px;
  font-size: 20px;

}

.personalprofile{
  margin-top:5vh;
  padding:5px;
  background-color:#ecfafb;
}
.search-box{
  width: fit-content;
  height: fit-content;
  position: relative;
}
.input-search{
  height: 50px;
  width: 50px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all .5s ease-in-out;
  background-color: #22a6b3;
  padding-right: 40px;
  color:#fff;
}
.input-search::placeholder{
  color:rgba(255,255,255,.5);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}
.btn-search{
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color:#ffffff ;
  background-color:transparent;
  pointer-events: painted;  
}
.btn-search:focus ~ .input-search{
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid rgba(255,255,255,.5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
.input-search:focus{
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid rgba(255,255,255,.5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

/* //view patients page */
.viewpatients{
  padding: 10px;
}
.contactcard{
  border-left:5px solid #060074;
  border-radius: 13px;
  padding:2px;
  background-color:rgb(242,242,242);
}
.title{
  color: #060074;
}
.personalinfo{
  display: flex;
  flex-direction: column;
}

.personalinfo h5{
  font-weight:bolder;
}